.row{
    color: white;
    margin-left: 20px;
}

.title {
    font-size: 1.25rem;
    /* text-transform:uppercase; */
    text-shadow: 2px 2px 4px #000000;
}

.movie__images{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}

.movie__images::-webkit-scrollbar{
    display: none;
}

.movie__image{
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    transition: transform 450ms;
}

.movie__image:hover{
    transform: scale(1.08);
    opacity:1;
    cursor: pointer;
}

.large {
    max-height: 250px;
}